.notification {
  position: relative;
  border-radius: 8px;
  margin: 0 !important;
  margin-top: 1em !important;
  display: flex;
  flex-wrap: nowrap;
}

.notification .container {
  display: flex;
  padding: 0 !important;
}

.notification p {
  margin-top: 0;
}

.notification .closeIcon {
  border-radius: 8px;
}

.notification.success {
  background-color: #d9ffe3;
}

.notification.error {
  background-color: #ffd6d6;
}

.notification.info {
  background-color: #c8d8fa;
}

.notification.warning {
  background-color: #ffffc7;
}
